{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/transform-runtime",
        "transform-remove-strict-mode"
    ],
    "ignore": [
        "./src/lib/mui/js/mui.min.js"
    ]
   
}